body {
    font-family: 'Inter', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
html, body {
    overscroll-behavior-y: contain;
}
.status-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
}